.color.white {
  color: #fff;
}
.color.c3 {
  color: #333;
}
.color.c6 {
  color: #666;
}
.color.c9 {
  color: #999;
}
.color.maincolor {
  color: #7ad8d8;
}
.bg {
  background-repeat: no-repeat;
  background-position: center;
}
.bg.contain {
  background-size: contain;
}
.bg.maincolor {
  background-color: #7ad8d8;
}
.bg.pink {
  background-color: #f65f73;
}
.bg.white {
  background-color: #fff;
}
.middle {
  vertical-align: middle;
}
.border {
  border: 1px solid #ddd;
}
.circle {
  border-radius: 50%;
}
.center {
  text-align: center;
}
.m0 {
  margin: 0;
}
.mt0 {
  margin-top: 0px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mb0 {
  margin-bottom: 0px !important;
}
.pd10 {
  padding: 10px;
}
.img-sm {
  width: 50px;
  height: 50px;
}
.img-md {
  width: 100px;
  height: 100px !important;
  max-width: 100px !important;
}
.icon-sm {
  font-size: 20px !important;
  position: relative;
  top: 2px;
}
.icon-bg {
  display: inline-block;
  background: #ff859d;
  border-radius: 20px;
  width: 50px;
  height: 50px;
  padding-top: 11px;
}
.icon-bg .iconfont {
  font-size: 24px !important;
}
.noshadow {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.fixBox1 {
  width: 100%;
  height: 0;
  padding-bottom: 37%;
  background-position: center;
  background-size: cover;
}
.bottom-bar {
  border-top: 1px solid #ddd;
  background-color: #fff;
}
.bottom-bar .mui-tab-item.mui-active {
  color: #f65f73;
}
.bottom-bar .mui-tab-item .iconfont {
  font-size: 22px;
}
.bottom-bar .mui-tab-item .mui-tab-label {
  margin-top: 1px;
}
.mui-btn.mui-btn-outlined.maincolor {
  border-color: #7ad8d8;
  color: #7ad8d8;
}
